html {
  background: url('../assets/vote.jpg')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.image {
  background-size: 960px;
  position: absolute;
  top: 200; 
  right: 70;
}

footer {
  position:absolute;
  bottom:0;
  justify-content: center;
  height:30px;
}

.box {
  background-color: lightblue;
  border: 1px solid blue;
}

* {
  font-family: Verdana, "Open sans", Rubik, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Merriweather, Spectral, serif;
}

li {
  list-style: none;
}

/* shows and hides sections */
section {
  display: none;
}

section:target {
  display: block;
}

footer {
  padding: 2rem;
  text-align: center;
}

/*
ul {
  list-style-type: none;
  margin: 0;
  overflow: visible;
  padding-left: 0px;
}

li {
  display: inline-block;
  text-align: left;
  padding: 10px;
}

// TOOLTIPS
.info {
  position: relative;
  display: inline-block;
}

.info .infotext {
  visibility: hidden;
  width: 50vw;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  // Position the tooltip text
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;

  // Fade in tooltip
  opacity: 0;
  transition: opacity 0.3s;
}

// Show the tooltip text when you mouse over the tooltip container
.info:hover .infotext {
  transition-delay: .1s;
  visibility: visible;
  opacity: 1;
}*/