* {
  font-size: 16px;
}

h1 {
  font-family: Georgia, Merriweather, Spectral, serif;
  font-size: 161%;
}

body {
  background-color: linen;
  background-image: url("download.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top; /*everything above can be shorthanded!*/
  margin-right: 200px;
  font-family: Verdana, "Open sans", Rubik, sans-serif;
  color: black;

  margin: 20px 75px 100px;
  border: 2px solid red;
  border-radius: 5px;

  padding: 25px 25px 25px;
}

img {
  z-index: 1;
  position: sticky;
}

bold {
  font-weight: bold
}

a:link, visited {
  color: black;
}

/* mouse over link */
a:hover, selected {
  color: maroon;
  cursor: pointer;
}

div {
  max-width: 500px;
  position: sticky;
}
